
a{
    text-decoration: none;
    margin-left: 50px;
    color: black;
}
#nav{
    margin-left: 750px;
}
#div1{
    position: absolute;
    margin-left: 200px;
}
#div2{
    margin-left: 750px;
}
#divmain1{
    margin-top: 100px;
}
button{
    width: 90px;
    height: 30px;
    border: none;
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    color: aliceblue;
}
#div3{
    width: 180px;
    height: 200px;
    position: absolute;
    text-align: center;
    margin-top: 80px;
    margin-left: 200px;
}
#div4{
    width: 180px;
    height: 200px;
    position: absolute;
    margin-left: 200px; 
    text-align: center;
    margin-top: 80px;
    margin-left: 500px;
}
#div5{
    width: 180px;
    height: 200px;
    text-align: center;
    margin-top: 80px;
    margin-left: 800px;
}
#div6{
    width: 30px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    margin-left: 990px;

}
h2{
    margin-top: 170px;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 100px;
}
.icon1{
    height: 50px;
    width: 50px;
}